# gpu-thermald - CompuLab AirTop GPU Thermal Daemon

[Unit]
Description=gpu-thermald daemon

[Service]
EnvironmentFile=-/etc/default/gpu-thermald
ExecStart=/usr/sbin/gpu-thermald
Restart=always

[Install]
WantedBy=multi-user.target

